.DS_Store
*.swp

# gh_pages branch related
_site
.sass-cache
vendor
.bundle
Gemfile.lock

# emacs
*~
\#*\#

# built rpms
bootcd/rpms/genesis_scripts-0.5-3.el6.noarch.rpm
bootcd/rpms/genesis_scripts/genesis_scripts-0.5-3.el6.src.rpm
