require 'genesisframework'

# support testing using rake(1) directly

ENV['GENESIS_ROOT'] ||= '/var/run/genesis'

tasks_dir = File.join(ENV['GENESIS_ROOT'], 'tasks')
timestamp_dir = File.join('/var/log', 'genesis')

# TODO get these from the command line or ENV
# these emulate what genesis currently gives best
show_all = true
dry_run = ENV.has_key? 'DRYRUN'

puts 'DRY RUN set' if dry_run

# TODO remove dead code once transition to OSS genesis is complete
begin
  # closed source genesis
  Genesis::Framework::Tasks.parse_config(
    Genesis::Framework::Utils.tmp_path("genesis_config.json"))
rescue
  # open source genesis
  Genesis::Framework::Tasks.load_config(
    File::join(ENV['GENESIS_ROOT'], 'config.yaml'))
end

# a place to store timestamps of when the task last ran
`mkdir -p #{timestamp_dir}` unless FileTest::directory?(timestamp_dir)

ALL_FRAMEWORK_TASKS = Genesis::Framework::Tasks.load_tasks(tasks_dir)
# lets group tasks by target
targets = ALL_FRAMEWORK_TASKS.collect({}) do |memo, t_class|
  t_class.targets.each do |target|
    memo[target] = [] if !memo.has_key? target
    memo[target] = memo[target].concat(t_class)
  end
  memo
end

desc 'No tasks run'
task :util do
  puts 'Welcome to utility mode'
end

targets.each do |target, tasks|
  namespaced_dependencies = tasks.map{|t| "#{target}:#{t}"}
  desc "#{target} target"
  task target => namespaced_dependencies do
    puts " Executed target #{target} with tasks #{tasks.map(&:to_sym).inspect}"
  end

  # namespace underneath target to prevent creating duplicate tasks with
  # the same names to avoid running tasks multiple times if they appear in
  # multiple targets
  namespace target do
    # create tasks for all child tasks of the target
    tasks.each do |tsk|
      desc tsk.description if show_all
      task tsk.to_sym => tsk.dependencies do
        if dry_run
          puts " not running #{target}:#{tsk} in dry-run"
        else
          Genesis::Framework::Tasks.execute tsk.to_sym
        end
      end
    end
  end

end


# each task should indicate when it ran (last)
Rake::Task.tasks.each do |t|
  t.enhance do
    touch File.join(timestamp_dir, t.name + '.ran')
  end
end
