# well known facts/values
$genesis_ipaddress = '192.168.33.10' # must match Vagrantfile
$collins_url     = "https://collins.example.com"                 # FIXME
$genesis_service = "${genesis_ipaddress}:8000"
$genesis_user    = ''
$genesis_passw   = ''
# use internal nameservers so we can resolve internal names
$dhcp_dns_servers = '10.0.0.1, 10.0.1.1'                         # FIXME
$nexusserver     = 'nexus.example.com'                           # FIXME
$file_service    = "${nexusserver}:8888"
$gem_service     = "${nexusserver}:8808"
$image_service   = "${file_service}"
$ntp_server      = "ntp.example.com"                             # FIXME
$rpm_server      = 'repo.example.com'                            # FIXME


node default {
    include yumrepo
    include tftp::server 
    include dhcp::server
    include bind::server
    include nginx
    include ipxe
    include iptables
    include genesis
}
